<!--component html goes here -->
<div class="MainContainer">
    <div class="HeaderBackground">

        <header></header>
        <div class="Triangle">
            <div class="Jumbotron" data-paroller-factor="-0.2">
                <div class="Jumbotron-title">هل تبحث عن شيئ معيّن ؟</div>

                <div class="Jumbotron-subtitle">
                    أكثر من
                    <span class="u-num">300</span> إعلان بإنتظارك لتتفقدها
                </div>
            </div>
            <div class="Triangle--spacer"></div>
        </div>
    </div>
    <div class="Content">
        <div class="GridContainer"style="padding: 5%;">

            <!--component html goes here -->
            <!--component html goes here -->
            <!--<div id="" class="ModalContainer">
			<div class="SignInModuleContainer">-->
            <div class="SignInModule">
                <div class="SignInModule-body">
                    <div class="SignInModule-body-inputcontainer">
                        <label for="name">كلمة السر الجديدة</label>
                        <input [(ngModel)]="user.newPassword" class="SignInModule-body-inputcontainer-text" type="text" value=""
                            name="name">
                    </div>
                    <div (click)="resetPassword()" class="SignInModule-body-inputcontainer SignInModule-body-btn">
                        إرسال لأغعادة تعيين كلمة السر
                    </div>
                </div>
            </div>

            <!--</div>
		</div>-->

        </div>



    </div>
    <!--Below main container end-->
</div>