<!--component html goes here -->
<div class="Header">
	<div class="TopMenu">
		<div class="u-flex u-flexRowReverse u-flexAlignCenter u-flexJustifyStart  u-fill">
			<i class="TopMenu-item TopMenu-item--iconDots" (click)="openMenu()" *ngIf="isLogin">
							<ul class="DropMenu DropMenu-Top">
								<li class="DropMenu-item">شروط الإستخدام </li>
								<li class="DropMenu-divider"></li>
								<li class="DropMenu-item">سياسة الخصوصية</li>
								<li class="DropMenu-divider"></li>
								<li class="DropMenu-item" (click)="logout()">تسجيل الخروج</li>
							</ul>
						</i>
			<a (click)="hrefAddAdv()" class="TopMenu-item u-customBtn">
						<img class="" src="assets/imgs/w-plus.svg" alt="">
						<span class="u-hideOnMedium u-after10p" >إضافة إعلان</span>
					</a>
			<div href="#" class="u-after10p" *ngIf="isLogin">
				<figure class="Avatar Avatar--lg cursorPointer">
					<img src="{{profileImage}}" alt="avatar" routerLink="{{'/myprofile/me'}}">
				</figure>
			</div>
			<i class="TopMenu-item TopMenu-item--iconBell" (click)="toggleNot()" *ngIf="isLogin">
								<span class="Badge Badge--center"  [attr.data-badge]="unreadNotBeh"></span>
								<ul class="NotificationMenu NotificationMenuTop"   data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
 [infiniteScrollThrottle]="throttle" [scrollWindow]="false" (scrolled)="onScrollDownNoti()">
									<div *ngFor="let oneNot of notificationBeh">
										<!--routerLink="{{'/detail/'+oneNot.advertisement.id}}"-->
								<li class="NotificationMenu-item" [ngClass]="{'isReadNot' : !oneNot.isRead }"  (click)="visitNot(oneNot.isRead,oneNot.advertisement.id)" >
									<div href="#" class="u-after10p u-inlineBlock">
						              <figure class="Avatar Avatar--lg">
						                <img src="{{oneNot.advertisement.images[0]}}" alt="avatar">
						              </figure>
						            </div>
						            <div class="u-inlineBlock u-alignTop">
										<div *ngIf="oneNot.type=='NEW_ADS'">
												قام
												<span> {{oneNot.advertisement.owner.firstName}} </span>
											 	 بإضافة إعلان جديد
											 </div>
											 <div *ngIf="oneNot.type=='SEARCH_ADS'">
												إعلان يوافق
												<span> {{oneNot.name}} </span>
											 	 
											 </div>
										<span class="NotificationMenu-item-date">{{oneNot.createdAt | date:'yyyy/MM/dd'}}</span>
									</div>
								</li>
								<li class="NotificationMenu-divider"></li>								
								</div>
								<!--<li class="NotificationMenu-divider"></li>
								<li class="NotificationMenu-item">
									<div href="#" class="u-after10p u-inlineBlock">
						              <figure class="Avatar Avatar--lg">
						                <img src="assets/imgs/avatar.jpg" alt="avatar">
						              </figure>
						            </div>
						            <div class="u-inlineBlock u-alignTop">
										<div>
											قام
											<span> أبو عبدو </span>
										 	 بإضافة إعلان جديد
										 </div>
										<span class="NotificationMenu-item-date">12/12/2018</span>
									</div>
								</li>
								<li class="NotificationMenu-divider"></li>
								<li class="NotificationMenu-item">
									<div href="#" class="u-after10p u-inlineBlock">
						              <figure class="Avatar Avatar--lg">
						                <img src="assets/imgs/avatar.jpg" alt="avatar">
						              </figure>
						            </div>
						            <div class="u-inlineBlock u-alignTop">
										<div>
											قام
											<span> أبو عبدو </span>
										 	 بإضافة إعلان جديد
										 </div>
										<span class="NotificationMenu-item-date">12/12/2018</span>
									</div>
								</li>-->
							</ul>
			            </i>
			<a class="TopMenu-item cursorPointer" (click)="openSignInDialog()" *ngIf="!isLogin">الدخول</a>
			<a class="TopMenu-item cursorPointer" (click)="openSignUpDialog()" *ngIf="!isLogin">حساب جديد</a>
		</div>
		<div class="u-flexAlignSelfStart">
			<img class="TopMenu-item TopMenu-item--logo cursorPointer" routerLink="{{''}}" src="assets/imgs/logo.png" alt="">
		</div>

	</div>
</div>