<!--component html goes here -->
<!--component html goes here -->
<!--<div id="" class="ModalContainer">
			<div class="SignInModuleContainer">-->
<div class="SignInModule">
    <div class="SignInModule-header" style="direction: rtl;">
        <div class="SignInModule-header-title">
            القيام بالتبليغ
        </div>
        <div class="SignInModule-header-close" (click)="closeModal()">
        </div>
    </div>
    <div class="SignInModule-body">
        <div class="SignInModule-body-inputcontainer">
            <label for="name">هل انت متاكد تريد القيام بتبليغ هذا الإعلان على أنه {{title}}</label>
        </div>
        <div (click)="ok()" class="SignInModule-body-inputcontainer SignInModule-body-btn">
            موافق
        </div>
        <div (click)="cansel()" class="SignInModule-body-inputcontainer SignInModule-body-btn">
            إلغاء
        </div>


    </div>
</div>

<!--</div>
		</div>-->