<div class="MainContainer">
  <div class="HeaderBackground">
    <header></header>
    <div class="Triangle Triangle--pages">
      <div class="Triangle--pages-title">
        إضافة إعلان جديد
      </div>

      <div class="Triangle--spacer"></div>
    </div>
  </div>
  <div class="Content">
    <div class="GridContainer">
      <div class="HeaderBoxContianer HeaderBoxContianer--addpage">
        <div class="HeaderBox HeaderBox--adspage">
          <div class="AddNewForm-inputcontainer">
            <label for="name">عنوان الإعلان</label>
            <input [(ngModel)]="search.title" class="AddNewForm-inputcontainer-text" type="text" value="" name="name">
          </div>
        </div>
        <div class="HeaderBox HeaderBox--adspage" *ngIf="isCategoryFree==false">
          <div class="AddNewForm-inputcontainer">
            <label for="name">السعر المطلوب</label>
            <input type="text" onkeydown="return ( event.ctrlKey || event.altKey 
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9) 
                    || (event.keyCode>34 && event.keyCode<40) 
                    || (event.keyCode==46) )" [(ngModel)]="search.price" class="AddNewForm-inputcontainer-text">
          </div>
        </div>
      </div>
      <div class="AddNewContainer">
        <div class="AddNewForm">
          <div class="AddNewForm-column">
            <div class="AddNewForm-inputcontainer">
              <select [(ngModel)]="search.cityId" class="AddNewForm-inputcontainer-select AddNewForm-down AddNewForm-inputcontainer-select--lg">
                                <option [ngValue]="undefined" selected>اختر المدينة</option>
						        <option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
                            </select>
            </div>

            <div class="AddNewForm-inputcontainer">
              <select (change)="changeCategory($event.target.value)" [(ngModel)]="search.categoryId" class="AddNewForm-inputcontainer-select AddNewForm-down AddNewForm-inputcontainer-select--md">
                            	<option [ngValue]="undefined" selected>اختر الفئة</option>
				        		<option *ngFor="let category of categories" value="{{category.id}}" >{{category.title}}</option> 
                            </select>
              <select (change)="changeSubCategory($event.target.value)" [(ngModel)]="search.subCategoryId" class="AddNewForm-inputcontainer-select AddNewForm-down AddNewForm-inputcontainer-select--sm">
                                <option [ngValue]="undefined" selected> اختر الفئة الفرعية</option>								 
                                <option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}" >{{subCategory.title}}</option>	
                            </select>
            </div>

            <div class="AddNewForm-inputcontainer" *ngFor="let oneKey of vetcorKeyFilter; let i = index;">
              <label for="name">{{oneKey.key}} </label>
              <input *ngIf="oneKey.type == 'text' " [(ngModel)]="search.fields[i].value" class="AddNewForm-inputcontainer-text" type="text"
                value="" name="name">
              <input type="text" onkeydown="return ( event.ctrlKey || event.altKey 
                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) 
                    || (95<event.keyCode && event.keyCode<106)
                    || (event.keyCode==8) || (event.keyCode==9) 
                    || (event.keyCode>34 && event.keyCode<40) 
                    || (event.keyCode==46) )" *ngIf="oneKey.type == 'number' " [(ngModel)]="search.fields[i].value" class="AddNewForm-inputcontainer-text"
                value="" name="name">
              <select style="width: 100%" *ngIf="oneKey.type == 'choose' " (change)="changeValue($event.target.value,i)" [(ngModel)]="search.fields[i].value"
                class="AddNewForm-inputcontainer-select AddNewForm-down AddNewForm-inputcontainer-select--md">
                                <option [ngValue]="undefined" selected>اختر {{oneKey.key}}</option>     
                                <option *ngFor="let oneValue of oneKey.values" value="{{oneValue.value}}" >{{oneValue.value}}</option>
								</select>
            </div>

            <div class="AddNewForm-inputcontainer">
              <label for="name" style="direction:  rtl;">العنوان (الجادة, الشارع) </label>
              <input [(ngModel)]="search.address" class="AddNewForm-inputcontainer-text" type="text" value="" name="name">
            </div>
            <div class="AddNewForm-inputcontainer">
              <label for="name" style="direction:  rtl;">الشرح (يمكنك شرح إعلانك بشكل مفصل) </label>
              <input [(ngModel)]="search.description" class="AddNewForm-inputcontainer-text" type="text" value="" name="name">
            </div>
          </div>
          <div class="AddNewForm-column">
            <div [ngClass]="{'hidden':images.length==0}" class="AddNewForm-imagescontainer AddNewForm-imagescontainer--lg">
              <div class="AddNewForm-imagescontainer-largeimage">
                <img src="{{images[0]}}" />
              </div>
            </div>
            <div class="AddNewForm-imagescontainer AddNewForm-imagescontainer--sm">
              <div *ngFor="let value of images;let i=index" class="AddNewForm-imagescontainer-smallimage">
                <div (click)="deleteImage(i)" class="openImage cursorPointer"></div>
                <img src="{{value}}" />
              </div>
              <div *ngFor="let image of imageOnLoad;let i = index" class="AddNewForm-imagescontainer-smallimage" style="    position: relative;">
                <img id="{{'uploadImage'+i}}" />
                <img src="assets/imgs/infinity_loader_by_volorf.gif" style="position:  absolute;opacity: 0.5;top: 0px;height: 100%;left:  0px;width: 100%;"
                />

              </div>



              <div (click)="openSelectImage()" for="file" class="AddNewForm-imagescontainer-browseimage cursorPointer">
                <input multiple type="file" style="display:none" id="files" accept="image/*" (change)="onChange($event)" />
                <img src="assets/imgs/browse.png" />
              </div>
            </div>
            <div class="AddNewForm-submitcontainer">
              <div class="AddNewForm-checkboxcontainer">
                <input type="checkbox" id="checkbox_id" [(ngModel)]="isAgree" value="value">
                <label for="checkbox_id">
                                    أوافق على
                                    <div class="u-textPrimaryColor cursorPointer" routerLink="{{'/terms'}}">شروط الاستخدام</div>
                                     و
                                    <div class="u-textPrimaryColor cursorPointer" routerLink="{{'/privacy'}}">اتفاقية الخصوصية</div>
                                </label>
              </div>
              <div class="AddNewForm-btn" [ngStyle]="{'background-color':  isAgree ? '#257310' : '#257310a1'}" (click)="addAdvertising()">
                إضافة إعلان
              </div>
            </div>


          </div>

        </div>
        <div class="ItemsContainer-loader" style="width:  100%;position:  absolute;height:  100%;" [ngClass]="{'hidden':loader==0}">
          <img src="assets/imgs/spinner.svg" alt="Kiwi standing on oval">
        </div>
      </div>
    </div>

    <!--Below main container end-->


  </div>

</div>
<!--
<div class="Footer">

    <div class="Footer-about">
        <div class="Footer-about-title">
            عن دلال
        </div>
        <div class="Footer-about-body">
            شرح بسيط عن دلال ...<br> الموقع الأفضل للبيع و الشراء عبر الانترنت
        </div>
        <div class="Footer-about-bar">
            <div class="Footer-about-bar-item">
                شروط الاستخدام
            </div>
            <div class="Footer-about-bar-item">
                سياسية الخصوصية
            </div>
            <div class="Footer-about-bar-item">
                تواصل معنا
            </div>
        </div>
    </div>
    <div class="Footer-contact">
        <div class="Footer-contact-title">
            تواصل معنا على.....
        </div>
        <div class="Footer-contact-icons">
            <div class="Footer-contact-icon" style="background-image: url('../imgs/facebook.svg');">

            </div>
            <div class="Footer-contact-icon" style="background-image: url('../imgs/insta.svg');">

            </div>
        </div>

    </div>
    <div class="Footer-right">

        <div class="Footer-right-text">
            All Rights Reserved
        </div>
        <div class="Footer-right-logo">
            <img src="../imgs/logo.png" alt="">
        </div>
    </div>
</div>-->
