<!--component html goes here -->
<!--component html goes here -->
<!--component html goes here -->
<!--<div id="" class="ModalContainer">
			<div class="SignUpModuleContainer">-->

<div class="SignUpModule">
    <div class="SignUpModule-header" style="direction: rtl;">
        <div class="SignUpModule-header-title">
            حساب جديد
        </div>
        <div class="SignUpModule-header-close">
        </div>
    </div>
    <div class="SignUpModule-body">
                <label for="name" style="color: red">{{message}}</label>

        <div class="SignUpModule-body-inputcontainer">
            <label for="name">كلمة السر القديمة</label>
           
            <input [(ngModel)]="password.oldPassword" (focus)="message='';" class="SignUpModule-body-inputcontainer-text" type="password" value="" name="name">
        </div>
         <div class="SignUpModule-body-inputcontainer">
            <label for="name">كلمة السر الحديثة</label>
            <input [(ngModel)]="password.newPassword" (focus)="message='';" class="SignUpModule-body-inputcontainer-text" type="password" value="" name="name">
        </div>
        <button (click)="editPassword()" class="SignUpModule-body-inputcontainer SignUpModule-body-btn">
            تعديل كلمة السر
        </button>
    </div>
</div>
<!--</div>
		</div>-->