<!--component html goes here -->
<!--component html goes here -->
<!--<div id="" class="ModalContainer">
			<div class="SignInModuleContainer">-->
<div class="SignInModule">
	<div class="SignInModule-header" style="direction: rtl;">
		<div class="SignInModule-header-title">
			نسيت كلمة السر
		</div>
		<div class="SignInModule-header-close" (click)="closeModal()">
		</div>
	</div>
	<div class="SignInModule-body">
			<label for="name" style="color: red">{{message}}</label>
		<div class="SignInModule-body-inputcontainer">
			<label for="name">اسم المستخدم</label>
			<input [(ngModel)]="user.email" (focus)="message='';" class="SignInModule-body-inputcontainer-text" type="text" value="" name="name">
		</div>
		<div (click)="sendEmail()" class="SignInModule-body-inputcontainer SignInModule-body-btn">
			إرسال لأغعادة تعيين كلمة السر
		</div>
	</div>
</div>

<!--</div>
		</div>-->