<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
asdadasdadasd
<div class="Footer">

	<div class="Footer-about">
		<div class="Footer-about-title">
			عن دلّال
		</div>
		<div class="Footer-about-body">
			شرح بسيط عن دلّال ...<br> الموقع الأفضل للبيع و الشراء عبر الانترنت
		</div>
		<div class="Footer-about-bar">
			<div class="Footer-about-bar-item cursorPointer" routerLink="{{'/terms'}}">
				شروط الاستخدام
			</div>
			<div class="Footer-about-bar-item cursorPointer" routerLink="{{'/privacy'}}" >
				سياسية الخصوصية
			</div>
			<div class="Footer-about-bar-item cursorPointer" (click)="openContactUs()">
				تواصل معنا
			</div>
		</div>
	</div>
	<div class="Footer-contact">
		<div class="Footer-contact-title">
			تواصل معنا
		</div>
		<div class="Footer-contact-icons">
			<a href="#" class="Footer-contact-icon" style="background-image: url('assets/imgs/facebook.svg');">

  </a>
			<a href="#" class="Footer-contact-icon" style="background-image: url('assets/imgs/insta.svg');">

  </a>
		</div>

	</div>
	<div class="Footer-right">

		<div class="Footer-right-text">
			All Rights Reserved
		</div>
		<div class="Footer-right-logo">
			<img src="assets/imgs/logo.png" alt="">
		</div>
	</div>
</div>