<!--component html goes here -->
<!--component html goes here -->
<div class="MainContainer">
	<div class="HeaderBackground">
		<header></header>
		<div class="Triangle">
			<div class="Jumbotron" data-paroller-factor="-0.2">
				<!--<div class="Jumbotron-title">هل تبحث عن شيئ معيّن ؟</div>-->

				<!--<div class="Jumbotron-subtitle">
					الكثير من الاعلانات بانتظارك لتفقدها
				</div>-->
			</div>
			<div class="Triangle--spacer"></div>
		</div>
	</div>
	<div class="Content">
		<div class="GridContainer customPage">
			<h1>سياسة الخصوصية</h1>
			<h3>سياسة الخصوصية</h3>
			<span>تُدرك إدارة موقع دلّال حرصك على المعلومات التي نجمعها عنك واهتمامك حيال كيفية استخدامنا لها، ولكي تكون على بينة وإدراك
				كامل، نضع بين يديك سياسة الخصوصية، ونحن بدورنا نقدر ثقتكم بنا والتي تضمن لكم التعامل مع معلوماتكم بعناية وثقة. من خلال
				زيارتك لموقع دلّال أنت تقبل الأمور الواردة في هذه البيان.
			</span>
			<h3>ما هي المعلومات التي يتم جمعها من قبل موقع دلّال عنك؟</h3>
			<span>المعلومات التي نجمعها من مستخدمي موقع دلّال تساعدنا على أن نقدم لهم خدمة أفضل مبنية على الطبيعة الشخصية للمستخدم للتحسين
				من طريقة تصفحك كمستخدم لموقع دلّال. التالية هي أنواع المعلومات التي نجمعها: المعلومات التي نجمعها عنك من خلال تسجيلك
				في الموقع وهي (البريد الإلكتروني، الاسم الأول، الاسم الثاني). من خلال تسجيلك ستحصل على حساب أو عضوية في الموقع وهي مكونة
				من اسم مستخدم وكلمة سر تتيح لك استخدام الموقع المعلومات التي تقوم بتقديمها: نقوم بتخزين المعلومات المُدخلة على موقعنا
				بأكثر من وسيلة، مثلاً عند تسجيلك في الموقع أو عند إضافتك لمعلومات الإعلانات عند إضافة إعلان، يتم استخدام بريدك الإلكتروني
				الذي سجلت فيه كوسيلة ليسهل علينا الردّ على طلباتكم وإعلامكم بكل ما هو جديد في الموقع، وتذكر انه كلما زادت صحة المعلومات
				المقدمة من قبلكم، زادت المزايا المقدمة للمستخدم. المعلومات الآلية: يمكننا الحصول على أنواع معينة من المعلومات الخاصة
				بك عند الدخول إلى موقع دلّال، وذلك باستخدام "الكوكيز" ليتم تخزين طريقة تصفحك للموقع، وهذه المعلومات تساعدنا بتقديم خدمة
				أفضل لك. الاتصالات بالبريد الإلكتروني: نحن نستقبل تأكيداً عن طريق تفعيل روابط التأكيد التي نرسلها لك بالبريد الإلكتروني
				في معظم الإجراءات والاشتراكات التي تقوم بها والتي تتطلب تأكيدك. المعلومات الواردة من مصادر أخرى: يجوز لنا الحصول على
				معلومات عنك من مصادر أخرى وإضافتها إلى معلومات حسابك لدينا، مثلاً كأن تقوم بالتسجيل في موقعنا عن طريق حسابك على الفيسبوك،
				بالتالي نستخدم بريدك المستخدم في الفيسبوك كبريد سجلت به لدى موقعنا. المعلومات المطلوبة من قسم خدمات الزبائن: قد تتواصل
				مع قسم خدمة الزبائن لطلب أو استفسار أو مشكلة أو اي نوع آخر من الطلبات أو قد يتواصل معك خدمة الزبائن لنفس الأغراض سابقة
				الذكر، وقد يترتب على هذا التواصل طلب معلومات معينة منك والتي تساهم في حل مشكلتك أو استفسارك مثال لا الحصر: نوع المتصفح،
				رقم هاتفك، مزود الإنترنت لديك وغيرها الكثير. وكل هذه المعلومات تستخدم لمساعدتك على حل المشكلة التي تواجهك.

			</span>
			<h3>ماذا عن الكوكيز؟
			</h3>

			<span>الكوكيز، والتي هي معروفة بالعالم الرقمي "ملفات تعريف الارتباط" لتشغيل القرص الصلب لجهاز الكمبيوتر من خلال متصفح الويب
				الخاص بك لتمكين انظمتنا من تخصيص المتصفح الخاص بك وتوفير ميزات مثل، الموقع المفضل، الدولة المفضلة ... وغيرها. عادة ما
				تقوم معظم المتصفحات بإخبارك عندما تتلقى كوكيز جديدة وترشدك إلى كيفية تعطيلها، ننصحك بعدم تعطيل الكوكيز الخاصة بموقع موقع
				دلّال فهي تساعدك في تحقيق الاستفادة الكاملة من مميزات الموقع لذا ننصح بتركها مفتوحة.
			</span>

			<h3>
				هل يتقاسم (يشارك) موقع دلّال المعلومات التي يتلقاها؟
			</h3>
			<span>المعلومات عن مستخدمي موقع دلّال هو جزء مهم من عملنا، ولن نسمح ببيع هذه المعلومات للآخرين. ولكن فقط يتم تبادل معلومات مستخدمي
				موقع دلّال فقط كما هو موضح أدناه: إضافة إعلان: عند إضافة إعلانك من خلال موقع دلّال فإنه يطلب منك أن تقدم لنا معلومات
				الاتصال الخاصة بك، ذلك لتسهيل عملية التواصل بين الطرفين (صاحب الإعلان، والمهتم به). وكلاء: نحن نستخدم شركات أخرى وأفراد
				لأداء بعض المهام نيابة عنا. مثل إرسال رسائل ترويجية في البريد الإلكتروني، وتحليل البيانات وتقديم المساعدة في مجال التسويق
				وغيرها من الخدمات، سواء في شكل دوري أو حسب ما يقتضي الطلب. عروض ترويجية: أحيانا نقوم بإرسال عروض لمجموعات مختارة من مستخدمي
				موقع دلّال حول آخر العروض التي نقدمها على الموقع. يتم نشر بيانات الحساب وغيرها من المعلومات الشخصية حسب شروط الاستخدام
				المتفق عليها. وذلك حماية من أساليب الاحتيال والحد من مخاطر الائتمان. خلاف لما هو مبين أعلاه، سوف تتلقى تحذيرا عند مشاركة
				البيانات مع طرف ثالث. إلغاء اشتراكك في النشرة البريدية: في أي وقت يمكنك الضغط على رابط "إلغاء الاشتراك" الموجود في أي
				بريد إلكتروني او نشرة بريدية مُرسلة من موقع دلّال.
			</span>
			<h3>
				ضمان معلوماتك الخاصة
			</h3>
			<span>من المهم بالنسبة لك الحماية ضد الوصول غير المصرح به إلى كلمة السر الخاصة بك وإلى جهاز الكمبيوتر الخاص بك. ويجب أن تكون
				على يقين من أنك قمت بتسجيل الخروج بعد الانتهاء من استخدام أي جهاز كمبيوتر مشترك.
			</span>
			<h3>
				شروط الاستخدام:
			</h3>
			<span>إذا اخترت زيارة موقع دلّال فإن زيارتك وأي خلاف حول الخصوصية يخضع لسياسة الخصوصية ولأحكام وشروط الاستخدام اتفاقية المستخدم.
				إذا كان لديك أية مخاوف حول الخصوصية في موقع دلّال يرجى الاتصال بنا وسنحاول حلها. تابعوا موقعنا باستمرار لكل ما هو جديد
				حول التغييرات الطارئة على كل من سياسة الخصوصية وأحكام وشروط الاستخدام.
			</span>
			<h3>

				التواصل مع الإدارة:
			</h3>
			<span>في أي وقت يمكنك التواصل مع إدارة موقع دلّال على البريد الرسمي للشركة <b>( Info@dlaaal.com ) </b>.
				<br>
				الاسم التجاري: <b>(شركة موقع دلّال
				للإعلانات المبوبة الإلكترونية)</b>.
				<br>
				 يمكننا استقبال مكالمتك حول أي استفسارات من الساعة<b> (10 صباحاً) </b>الى الساعة <b>(7 مساءً)</b>. على
				هاتف رقم: <b>00971558112411</b>
			</span>

		</div>

	</div>

</div>
<!--Below main container end-->