<!-- 
<div class="MainContainer">
	<div class="HeaderBackground">
		<header></header>
		<div class="Triangle">
			<div class="Jumbotron" data-paroller-factor="-0.2">
				<div class="Jumbotron-title">هل تبحث عن شيئ معيّن ؟</div>

				<div class="Jumbotron-subtitle">
					أكثر من
					<span class="u-num">300</span> إعلان بإنتظارك لتتفقدها
				</div>
			</div>
			<div class="Triangle--spacer"></div>
		</div>
	</div>
	<div class="Content">
		<div class="GridContainer customPage">

			<h1>شروط الاستخدام</h1>
			<h3>شروط الاستخدام</h3>
			<span>
مرحبا بكم في موقع دلّال للإعلانات المبوبة. توضح هذه الصفحة شروط الاستخدام التي يتيح لك موقع دلّال بموجبها الدخول إلى الموقع واستخدامه، سواء بصفة زائر أو مستخدم مسجل. لذلك نرجو قراءة شروط الاستخدام هذه بعناية قبل أن تبدأ باستخدام الموقع.

وبمجرد دخولك إلى الموقع واستخدامك إياه، تكون قد قبلت بشروط الاستخدام هذه ووافقت على الالتزام بها.

وإذا لم توافق على هذه الشروط، فلا يسمح لك باستخدام الموقع.

</span>

			<h3>
				محتوى الاعلان

			</h3>
			<span>
المحتوى الموجود على موقع دلّال نابع من المستخدمين والأعضاء المسجلين في الموقع، وبالتالي لا يتحمل موقع دلّال اي مسؤولية عن المحتوى المُضاف ويتحمل المستخدمين كافة المسؤولية. يقوم موقع دلّال بدور رقابي على الإعلانات والمحتوى المُضاف من قبل المستخدمين بطريقتين، قبل الإضافة (ولا تشمل جميع الإعلانات) حيث ان بعض الإعلانات لا تظهر على الموقع إلا بموافقة إدارة الموقع، والنوع الثاني، بعد الإضافة، حيث تظهر الإعلانات على الموقع ومن ثم يتم مراقبتها وتصحيحيها إن لزم الأمر.
ولذلك، لا يسمح للعضو بنشر إعلانات بمحتوى مُخالف لسياسة المحتوى لشركة دلّال سواء على الموقع الإلكتروني الخاص بالشركة أو على الصفحات الإجتماعية. مع العلم أن مثل هذه الإعلانات سوف يتم حذفها مباشرة من قبل مسؤولي الموقع. وكمثال عليها لا للحصر:
 
<ul>
	<li>
الإعلانات المكررة، حيث لا يسمح بتكرار الإعلان أكثر من مرة واحدة، بدلاً عن ذلك يمكن إعادة نشرها. والعضويات المكررة حيث لا يجوز أن يمتلك العضو أكثر من عضوية واحدة، وسيتم حذف العضويات الجديدة والابقاء على الأقدم، حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
إعلانات النصب والاحتيال مثل: (إعلانات وهمية للسيارات والهواتف الخلوية والقروض والتي هدفها النصب على مستخدمين الموقع) حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
إعلانات جمع السير الذاتية حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
إعلانات شركات التوظيف والتي تهدف الى جمع السير الذاتية وبيعها، حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
الإعلانات التي ثبت بأن المعلن عنها قام بمخالفة وتم التبليغ عنها من قبل مستخدمين آخرين من الموقع أو ثبت أنها بخصوص إزعاج مستخدمين أخرين. حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
الإعلانات التي تحتوي على (بيع أو تأجير أو تداول أو الإعلان أو الترويج) للمواد الممنوعة على موقع دلّال مثل: (بيع الأعضاء البشرية، الأسلحة، الآثار، الحشيش والمخدرات وما شابهها، والممنوعات بكافة انواعها، وذلك يحدد حسب قانون الجمهورية العربية السورية) بالإضافة الى الذم والقدح والتشهير والشتائم والكلمات المخلّة للآداب والعرف العام.

	</li>
 <li>
إعلانات أعمال التخريب مثل: (الإيذاء والقاتل المأجور والحرق والقتل والاغتصاب والتكسير والضرب وعصابات العنف) وما شابه ذلك.
 </li>
 <li>
إعلانات السحر والشعوذة (سواء الخدمات أو بيع أشياء ذات علاقة بها مثل: الخواتم والتعويذات).
 </li>
 <li>
إعلانات العلاج بالقرآن، مثل: (علاج بالرقية الشريعة لعلاج الحسد والسحر والمس).     
 </li>
 <li>
الإعلانات الترويجية خصوصاً إذا كانت لمواقع أو قنوات تلفزيونية أو دعاية لشركة دون وجود منتج فعلي في الإعلان. وهدفها الترويج لمواقع أو منتديات أو التجارة الإلكترونية، والإعلانات العادية التي تحتوي على روابط خارجية بقصد الترويج.
 </li>
 <li>
إعلانات التسويق الشبكي كإعلانات الربح عن طريق الإنترنت مثل: (الربح عن طريق الكليك أو النقرات أو تجارة الفوركس)
 </li>
 <li>
إعلانات الزواج والتعارف أو الخطابة غير مسموح بنشرها، حيث أن هدفها ليس تجاري مطلقاً. 
 </li>
 <li>
إعلانات خدمات شطب السيارات القديمة والغير صالحة او منتهية التسجيل وإعلانات سيارات او دراجات لا توجد لها تسجيل ساري الصلاحية مثل (سيارات غير مرخصة أو درجات غير مرخصة للبيع). وهي غير مسموحة ويعاقب قانون الجمهورية العربية السورية على حيازتها أو الإتجار بها. 
 </li>
 <li>
الإعلانات غير الواضحة وليس لها صلة بالهدف الذي من أجله أنشئ موقع دلّال، وعلى سبيل المثال لا الحصر الإعلانات التالية: (طلب مساعدات مالية، التبليغ عن شخص أو إعلانات التشهير) وهدفها أن تُشهر بالأفراد والشركات.    
 </li>
 <li>
إعلانات الأجهزة الكهربائية الممنوعة مثل: (أجهزة كشف الذهب، أجهزة التنصت، قلم تصوير، كاميرا صغيرة، صاعق كهربائي، أجهزة فك التشفير، أجهزة كشف الرادار أو اللاسلكي) وما شابه ذلك من الأجهزة، وكذلك إعلانات (الأدوات أو الأدوية الجنسية) وهي غير مسموحة ويعاقب قانون الجمهورية العربية السورية ا على حيازتها أو الإتجار بها.
 </li>
 <li>
إعلانات بيع العملات الأثرية أو اي نوع من الآثار القديمة حيث يعاقب قانون الجمهورية العربية السورية على حيازتها او التجارة بها.
 </li>
 <li>
إعلانات مطلوب مساعدة مالية، قروض وغيرها والتي تطلب إرسال مبالغ مالية مسبقاً.
 </li>
 <li>
إعلانات بيع الحيوانات الخطيرة مثل: (الأفاعي، النمور، الأسود).
  </li>
 <li>          
إعلانات بيع الدخان أو التبغ أو السيجارأو الغليون أو الأرجيلة وما شابه ذلك، وأي إعلان يروّج عنها مثل: إعلانات ضمان وبيع وإيجار محلات بيع الدخان والمقاهي. 
 </li>
 <li>
إعلانات تأشيرات للبيع أو للتنازل أو مطلوب مثل؛ (الحصول على فيزا إلى دولة معينة).                   
 </li>
 <li>
إعلانات بيع ريسيفرات ومحطات مدفوعة وغيرها عبر أقمار أخرى والتي لا يكون المعلن عيها وكيلاً رسمياً للخدمة. 
 </li>
 <li>
إعلانات بيع فيش الألعاب مثل: فيش لعبة 8 pool ball coins, poker للبيع والتي تهدف إلى المقامرة. 
 </li>
 <li>
إعلانات مطلوب سلع او خدمات للشراء مثل: (مطلوب سيارات أو أراضي أو خدمات أو مشاريع أو شركاء لمشاريع) بالإضاقة الى اعلانات مطلوب من غير تفاصيل كاملة حول المطلوب.
 </li>
 <li>
إعلانات بيع الملابس والفساتين الني لا تحتوي على صور، والتي تحتوي على صور غير لائقة وتخل بالآداب العامة. 
 </li>
 <li>
الإعلانات العادية، ولكن جزء من مواصفات الإعلان موجود على رابط فيسبوك أو رابط خارجي يتم نقل أو تنزيل ثم تحميل جزء مواصفات الإعلان من صفحة الفيسبوك أو الرابط الخارجي إلى داخل الإعلان ويتم حذف الرابط.
 </li>
 <li>
الإعلانات الدولية عن سلع أو منتجات موجودة خارج البلاد العربية المنتشر بها موقع دلّال، أو نشر إعلانات خارج نطاق الدولة المعلن بها في موقع دلّال. 
 
</li>
 <li>
أما بالنسبة لاسم المستخدم، احرص على انتقاء اسم ذو معنى، لائق من الناحية الأخلاقية والعرف العام والثقافة العربية، ولا يرتبط بشركة او فئة معينة ولا التشبيه باسم يرتبط ب ”موقع دلّال” أو “Dlaaal"، مثل: (إدارة موقع دلّال، كونترول موقع دلّال...) ويحبذ استخدام اسمك الشخصي عوضاً عنه وتجنّب استخدام الكلمات المسيئة.
</li>

</ul> 
</span>

			<h3>
				نصائح التعامل الآمن
			</h3>
			<span>
نصائح لتتعرف على الإعلانات المشكوك فيها:
</span>

			<li><h4>
				لا ترسل أي مبالغ مالية
			</h4></li>
			<span>
عادة ما يطلب المعلنون المشكوك بأمرهم تحويل مبالغ مالية (أو جزء من المبلغ المالي) إلكترونياً او عن طريق مكاتب التحويل.
</span>
			<li><h4>
				صيغة الإعلان ووجود الأخطاء اللغوية والإملائية
			</h4></li>
			<span>
وذلك بسبب أن المعلنين المشكوك بأمرهم عادة ما يكونون من جنسيات غير عربية، فيلجئون إلى ترجمة الإعلانات إلى العربية. فيبدو الإعلان غريباً. 
</span>
			<li><h4>
				صور المنتج
			</h4></li>
			<span>
عادة ما يستخدم المحتالين صور من الإنترنت، لانه يستسهل الأمر، ولا يوجد لديه منتج فعلي.
</span>

			<li><h4>
				إعلان بعرض مغري غير منطقي
			</h4></li>
			<span>
عادة ما يقوم المعلنون المشكوك بأمرهم انّ يضعوا اعلان مغري يكاد لا يصدق. مثال منتج بحالة رائعة ولدواعى السفر بنصف الثمن، لذا عليك ان تتوخى الحذر عند التعامل مع مثل هؤلاء المعلنين.
</span>
			<li><h4>
				تأكد من سعر المنتج
			</h4></li>
			<span>
عادة ما يضع المعلنون المشكوك بأمرهم أسعار غير منطقية لجذب المشترين والإحتيال عليهم، تأكد من متوسط سعر المنتج الذي ترغب في شراءه.
</span>
			<li><h4>
				الشروع في إتمام الصفقة:
			</h4></li>
			<span>
تفحص المُراد شراءه بشكل جيد للتأكد من سلامته، كما ننصحك بالتأكد من الأوراق الثبوتية (في حال تطلب الأمر)
</span>

			<h3>
				الخصوصية
			</h3>
			<span>
يرجى مراجعة سياسة الخصوصية والتي تحكم أيضا زيارتك لموقع دلّال لفهم أكثر لممارساتنا.
</span>
			<h3>
				حقوق الطبع والنشر للمحتوى
			</h3>
			<span>
جميع المحتويات الواردة في هذا الموقع، مثل النصوص والرسومات والشعارات، والأيقونات، والصور والصوت، والتنزيلات الرقمية، وتجميع البيانات، هو ملك لموقع دلّال وهي مضمونه ومحمية. جميع محتويات هذا الموقع هي ملكية حصرية لموقع دلّال. فلا يحق لك نسخ أو تعديل أي شيء عالموقع من حيث المحتوى. كما لا يحق لك الدخول إلى قاعدة البيانات الخاصة او استخدام اي برمجية تخترق صفحات موقع دلّال.
</span>
			<h3>
				نفي الضمان وعدم تحمل المسؤولية
			</h3>
			<span>
			إنك تقر وتوافق على أن استخدام الموقع الالكتروني والخدمات هو تماماً على مسؤوليتك الخاصة ، وأن الموقع و الخدمة هي مقدمة على
			أساس "كما هي" أو " كما هي متاحة" دون أي ضمانات من أي نوع. موقع دلّال لا يتحمل أية ضمانات أو إقرارات حول دقة أو اكتمال
			محتوى الموقع أو محتوى أي مواقع طرف ثالث له علاقة بالموقع و لا تتحمل أية مسؤولية أو مسائلة لأي أخطاء ، أو الإصابة الشخصية
			أو أضرار في الممتلكات من أي نوع، الناتجة عن الوصول إليك واستخدام الموقع و الخدمة، أي دخول غير مصرح إليك أو استخدام خدمتنا
			و / أو أي جميع المعلومات الشخصية و / أو المعلومات المالية المخزنة، الفيروسات، أو ما شابه ذلك والتي قد تكون مرسلة إليك
			أو عبر الموقع الإلكتروني من قبل أي طرف ثالث، و / ​​أو أي أخطاء أو حذف في أي محتوى أو عن أي خسارة أو ضرر من أي نوع يتم
			تكبده كنتيجة لاستعمال أي محتوى تم نشره بالبريد الإلكتروني ، لنقلها أو إتاحتها عبر الموقع الإلكتروني أو الخدمة. موقع دلّال
			لا يتحمل المسؤولية عن أي منتج أو الخدمة المعلن عنها أو التي يقدمها طرف ثالث عن طريق الموقع او اي موقع بارتباط تشعبي أو
			واردة في أي شعار أو دعاية أخرى.
			</span>
			<h3>
				اتصل بنا
			</h3>
			<span>
إن كان لديك أي استفسار حول شروط الإستخدام، الرجاء الاتصال بنا عن طريق البريد الإكتروني: <b>info@dlaaal.com</b>  بعنوان "شروط الاستخدام".
	</span>


		</div>



	</div>
</div>-->

<!--component html goes here -->
<div class="MainContainer">
	<div class="HeaderBackground">
		<header></header>
		<div class="Triangle">
			<div class="Jumbotron" data-paroller-factor="-0.2">
				<div class="Jumbotron-title">هل تبحث عن شيئ معيّن ؟</div>

				<div class="Jumbotron-subtitle">
					أكثر من
					<span class="u-num">300</span> إعلان بإنتظارك لتتفقدها
				</div>
			</div>
			<div class="Triangle--spacer"></div>
		</div>
	</div>
	<div class="Content">
		<div class="GridContainer customPage">

			<h1>شروط الاستخدام</h1>
			<h3>شروط الاستخدام</h3>
			<span>
مرحبا بكم في موقع دلّال للإعلانات المبوبة. توضح هذه الصفحة شروط الاستخدام التي يتيح لك موقع دلّال بموجبها الدخول إلى الموقع واستخدامه، سواء بصفة زائر أو مستخدم مسجل. لذلك نرجو قراءة شروط الاستخدام هذه بعناية قبل أن تبدأ باستخدام الموقع.

وبمجرد دخولك إلى الموقع واستخدامك إياه، تكون قد قبلت بشروط الاستخدام هذه ووافقت على الالتزام بها.

وإذا لم توافق على هذه الشروط، فلا يسمح لك باستخدام الموقع.

</span>

			<h3>
				محتوى الاعلان

			</h3>
			<span>
المحتوى الموجود على موقع دلّال نابع من المستخدمين والأعضاء المسجلين في الموقع، وبالتالي لا يتحمل موقع دلّال اي مسؤولية عن المحتوى المُضاف ويتحمل المستخدمين كافة المسؤولية. يقوم موقع دلّال بدور رقابي على الإعلانات والمحتوى المُضاف من قبل المستخدمين بطريقتين، قبل الإضافة (ولا تشمل جميع الإعلانات) حيث ان بعض الإعلانات لا تظهر على الموقع إلا بموافقة إدارة الموقع، والنوع الثاني، بعد الإضافة، حيث تظهر الإعلانات على الموقع ومن ثم يتم مراقبتها وتصحيحيها إن لزم الأمر.
ولذلك، لا يسمح للعضو بنشر إعلانات بمحتوى مُخالف لسياسة المحتوى لشركة دلّال سواء على الموقع الإلكتروني الخاص بالشركة أو على الصفحات الإجتماعية. مع العلم أن مثل هذه الإعلانات سوف يتم حذفها مباشرة من قبل مسؤولي الموقع. وكمثال عليها لا للحصر:
 
<ul>
	<li>
الإعلانات المكررة، حيث لا يسمح بتكرار الإعلان أكثر من مرة واحدة، بدلاً عن ذلك يمكن إعادة نشرها. والعضويات المكررة حيث لا يجوز أن يمتلك العضو أكثر من عضوية واحدة، وسيتم حذف العضويات الجديدة والابقاء على الأقدم، حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
إعلانات النصب والاحتيال مثل: (إعلانات وهمية للسيارات والهواتف الخلوية والقروض والتي هدفها النصب على مستخدمين الموقع) حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
إعلانات جمع السير الذاتية حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
إعلانات شركات التوظيف والتي تهدف الى جمع السير الذاتية وبيعها، حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
	</li>
	<li>
الإعلانات التي ثبت بأن المعلن عنها قام بمخالفة وتم التبليغ عنها من قبل مستخدمين آخرين من الموقع أو ثبت أنها بخصوص إزعاج مستخدمين أخرين. حيث يتم التأكيد عليها من قبل فريق مراقبة المحتوى ومن ثم تعطيلها.
الإعلانات التي تحتوي على (بيع أو تأجير أو تداول أو الإعلان أو الترويج) للمواد الممنوعة على موقع دلّال مثل: (بيع الأعضاء البشرية، الأسلحة، الآثار، الحشيش والمخدرات وما شابهها، والممنوعات بكافة انواعها، وذلك يحدد حسب قانون الجمهورية العربية السورية) بالإضافة الى الذم والقدح والتشهير والشتائم والكلمات المخلّة للآداب والعرف العام.

	</li>
 <li>
إعلانات أعمال التخريب مثل: (الإيذاء والقاتل المأجور والحرق والقتل والاغتصاب والتكسير والضرب وعصابات العنف) وما شابه ذلك.
 </li>
 <li>
إعلانات السحر والشعوذة (سواء الخدمات أو بيع أشياء ذات علاقة بها مثل: الخواتم والتعويذات).
 </li>
 <li>
إعلانات العلاج بالقرآن، مثل: (علاج بالرقية الشريعة لعلاج الحسد والسحر والمس).     
 </li>
 <li>
الإعلانات الترويجية خصوصاً إذا كانت لمواقع أو قنوات تلفزيونية أو دعاية لشركة دون وجود منتج فعلي في الإعلان. وهدفها الترويج لمواقع أو منتديات أو التجارة الإلكترونية، والإعلانات العادية التي تحتوي على روابط خارجية بقصد الترويج.
 </li>
 <li>
إعلانات التسويق الشبكي كإعلانات الربح عن طريق الإنترنت مثل: (الربح عن طريق الكليك أو النقرات أو تجارة الفوركس)
 </li>
 <li>
إعلانات الزواج والتعارف أو الخطابة غير مسموح بنشرها، حيث أن هدفها ليس تجاري مطلقاً. 
 </li>
 <li>
إعلانات خدمات شطب السيارات القديمة والغير صالحة او منتهية التسجيل وإعلانات سيارات او دراجات لا توجد لها تسجيل ساري الصلاحية مثل (سيارات غير مرخصة أو درجات غير مرخصة للبيع). وهي غير مسموحة ويعاقب قانون الجمهورية العربية السورية على حيازتها أو الإتجار بها. 
 </li>
 <li>
الإعلانات غير الواضحة وليس لها صلة بالهدف الذي من أجله أنشئ موقع دلّال، وعلى سبيل المثال لا الحصر الإعلانات التالية: (طلب مساعدات مالية، التبليغ عن شخص أو إعلانات التشهير) وهدفها أن تُشهر بالأفراد والشركات.    
 </li>
 <li>
إعلانات الأجهزة الكهربائية الممنوعة مثل: (أجهزة كشف الذهب، أجهزة التنصت، قلم تصوير، كاميرا صغيرة، صاعق كهربائي، أجهزة فك التشفير، أجهزة كشف الرادار أو اللاسلكي) وما شابه ذلك من الأجهزة، وكذلك إعلانات (الأدوات أو الأدوية الجنسية) وهي غير مسموحة ويعاقب قانون الجمهورية العربية السورية ا على حيازتها أو الإتجار بها.
 </li>
 <li>
إعلانات بيع العملات الأثرية أو اي نوع من الآثار القديمة حيث يعاقب قانون الجمهورية العربية السورية على حيازتها او التجارة بها.
 </li>
 <li>
إعلانات مطلوب مساعدة مالية، قروض وغيرها والتي تطلب إرسال مبالغ مالية مسبقاً.
 </li>
 <li>
إعلانات بيع الحيوانات الخطيرة مثل: (الأفاعي، النمور، الأسود).
  </li>
 <li>          
إعلانات بيع الدخان أو التبغ أو السيجارأو الغليون أو الأرجيلة وما شابه ذلك، وأي إعلان يروّج عنها مثل: إعلانات ضمان وبيع وإيجار محلات بيع الدخان والمقاهي. 
 </li>
 <li>
إعلانات تأشيرات للبيع أو للتنازل أو مطلوب مثل؛ (الحصول على فيزا إلى دولة معينة).                   
 </li>
 <li>
إعلانات بيع ريسيفرات ومحطات مدفوعة وغيرها عبر أقمار أخرى والتي لا يكون المعلن عيها وكيلاً رسمياً للخدمة. 
 </li>
 <li>
إعلانات بيع فيش الألعاب مثل: فيش لعبة 8 pool ball coins, poker للبيع والتي تهدف إلى المقامرة. 
 </li>
 <li>
إعلانات مطلوب سلع او خدمات للشراء مثل: (مطلوب سيارات أو أراضي أو خدمات أو مشاريع أو شركاء لمشاريع) بالإضاقة الى اعلانات مطلوب من غير تفاصيل كاملة حول المطلوب.
 </li>
 <li>
إعلانات بيع الملابس والفساتين الني لا تحتوي على صور، والتي تحتوي على صور غير لائقة وتخل بالآداب العامة. 
 </li>
 <li>
الإعلانات العادية، ولكن جزء من مواصفات الإعلان موجود على رابط فيسبوك أو رابط خارجي يتم نقل أو تنزيل ثم تحميل جزء مواصفات الإعلان من صفحة الفيسبوك أو الرابط الخارجي إلى داخل الإعلان ويتم حذف الرابط.
 </li>
 <li>
الإعلانات الدولية عن سلع أو منتجات موجودة خارج البلاد العربية المنتشر بها موقع دلّال، أو نشر إعلانات خارج نطاق الدولة المعلن بها في موقع دلّال. 
 
</li>
 <li>
أما بالنسبة لاسم المستخدم، احرص على انتقاء اسم ذو معنى، لائق من الناحية الأخلاقية والعرف العام والثقافة العربية، ولا يرتبط بشركة او فئة معينة ولا التشبيه باسم يرتبط ب ”موقع دلّال” أو “Dlaaal"، مثل: (إدارة موقع دلّال، كونترول موقع دلّال...) ويحبذ استخدام اسمك الشخصي عوضاً عنه وتجنّب استخدام الكلمات المسيئة.
</li>

</ul> 
</span>

			<h3>
				نصائح التعامل الآمن
			</h3>
			<span>
نصائح لتتعرف على الإعلانات المشكوك فيها:
</span>
<ul>
			<li><h4>
				لا ترسل أي مبالغ مالية
			</h4></li>
			<span>
عادة ما يطلب المعلنون المشكوك بأمرهم تحويل مبالغ مالية (أو جزء من المبلغ المالي) إلكترونياً او عن طريق مكاتب التحويل.
</span>
			<li><h4>
				صيغة الإعلان ووجود الأخطاء اللغوية والإملائية
			</h4></li>
			<span>
وذلك بسبب أن المعلنين المشكوك بأمرهم عادة ما يكونون من جنسيات غير عربية، فيلجئون إلى ترجمة الإعلانات إلى العربية. فيبدو الإعلان غريباً. 
</span>
			<li><h4>
				صور المنتج
			</h4></li>
			<span>
عادة ما يستخدم المحتالين صور من الإنترنت، لانه يستسهل الأمر، ولا يوجد لديه منتج فعلي.
</span>

			<li><h4>
				إعلان بعرض مغري غير منطقي
			</h4></li>
			<span>
عادة ما يقوم المعلنون المشكوك بأمرهم انّ يضعوا اعلان مغري يكاد لا يصدق. مثال منتج بحالة رائعة ولدواعى السفر بنصف الثمن، لذا عليك ان تتوخى الحذر عند التعامل مع مثل هؤلاء المعلنين.
</span>
			<li><h4>
				تأكد من سعر المنتج
			</h4></li>
			<span>
عادة ما يضع المعلنون المشكوك بأمرهم أسعار غير منطقية لجذب المشترين والإحتيال عليهم، تأكد من متوسط سعر المنتج الذي ترغب في شراءه.
</span>
			<li><h4>
				الشروع في إتمام الصفقة:
			</h4></li>
			<span>
تفحص المُراد شراءه بشكل جيد للتأكد من سلامته، كما ننصحك بالتأكد من الأوراق الثبوتية (في حال تطلب الأمر)
</span>

</ul>
			<h3>
				الخصوصية
			</h3>
			<span>
يرجى مراجعة سياسة الخصوصية والتي تحكم أيضا زيارتك لموقع دلّال لفهم أكثر لممارساتنا.
</span>
			<h3>
				حقوق الطبع والنشر للمحتوى
			</h3>
			<span>
جميع المحتويات الواردة في هذا الموقع، مثل النصوص والرسومات والشعارات، والأيقونات، والصور والصوت، والتنزيلات الرقمية، وتجميع البيانات، هو ملك لموقع دلّال وهي مضمونه ومحمية. جميع محتويات هذا الموقع هي ملكية حصرية لموقع دلّال. فلا يحق لك نسخ أو تعديل أي شيء عالموقع من حيث المحتوى. كما لا يحق لك الدخول إلى قاعدة البيانات الخاصة او استخدام اي برمجية تخترق صفحات موقع دلّال.
</span>
			<h3>
				نفي الضمان وعدم تحمل المسؤولية
			</h3>
			<span>
			إنك تقر وتوافق على أن استخدام الموقع الالكتروني والخدمات هو تماماً على مسؤوليتك الخاصة ، وأن الموقع و الخدمة هي مقدمة على
			أساس "كما هي" أو " كما هي متاحة" دون أي ضمانات من أي نوع. موقع دلّال لا يتحمل أية ضمانات أو إقرارات حول دقة أو اكتمال
			محتوى الموقع أو محتوى أي مواقع طرف ثالث له علاقة بالموقع و لا تتحمل أية مسؤولية أو مسائلة لأي أخطاء ، أو الإصابة الشخصية
			أو أضرار في الممتلكات من أي نوع، الناتجة عن الوصول إليك واستخدام الموقع و الخدمة، أي دخول غير مصرح إليك أو استخدام خدمتنا
			و / أو أي جميع المعلومات الشخصية و / أو المعلومات المالية المخزنة، الفيروسات، أو ما شابه ذلك والتي قد تكون مرسلة إليك
			أو عبر الموقع الإلكتروني من قبل أي طرف ثالث، و / ​​أو أي أخطاء أو حذف في أي محتوى أو عن أي خسارة أو ضرر من أي نوع يتم
			تكبده كنتيجة لاستعمال أي محتوى تم نشره بالبريد الإلكتروني ، لنقلها أو إتاحتها عبر الموقع الإلكتروني أو الخدمة. موقع دلّال
			لا يتحمل المسؤولية عن أي منتج أو الخدمة المعلن عنها أو التي يقدمها طرف ثالث عن طريق الموقع او اي موقع بارتباط تشعبي أو
			واردة في أي شعار أو دعاية أخرى.
			</span>
			<h3>
				اتصل بنا
			</h3>
			<span>
إن كان لديك أي استفسار حول شروط الإستخدام، الرجاء الاتصال بنا عن طريق البريد الإكتروني: <b>info@dlaaal.com</b>  بعنوان "شروط الاستخدام".
	</span>


		</div>



	</div>
	<!--Below main container end-->
</div>