<!--component html goes here -->
	<div class="MainContainer">
		<div class="HeaderBackground">
			<header></header>
			<div class="Triangle">
				<div class="Jumbotron" data-paroller-factor="-0.2">
					<div class="Jumbotron-title">هل تبحث عن شيئ معيّن ؟</div>

					<div class="Jumbotron-subtitle">
						أكثر من
						<span class="u-num">300</span> إعلان بإنتظارك لتتفقدها
					</div>
				</div>
				<div class="Triangle--spacer"></div>
			</div>
		</div>
		<div class="Content">
			<div class="GridContainer">



			</div>



		</div>
		<!--Below main container end-->
	</div>
