<div class="SignInModule">
    <div class="SignInModule-header" style="direction: rtl;">
        <div class="SignInModule-header-title">
            معلومات الاتصال
        </div>
        <div class="SignInModule-header-close" (click)="closeModal()">
        </div>
    </div>
    <div class="SignInModule-body">
        <label style="    text-align: center;width: 100%;">  {{data.phone}}:للتواصل مع صاحب الإعلان </label> 
        <br>
        <label>
        أو عن طريق زيارة 
        <a (click)="goToPage()" style="color: #257310">صفحته الشخصية</a>
        </label>
    </div>
</div>