// component css goes here
.hidden {
    display: none;
}

.hoverDiv {
    display: none;
    height: 180px;
    border-radius: 50%;
    padding-top: 5.7em;
    padding-bottom: 5.7em;
    width: 180px;
    background-color: rgba(128, 128, 128, 0.5490196078431373);
    text-align: center;
    position: absolute;
    top: 0px;
    span {
        text-align: center;
    }
}

.myImage {
    position: relative;
}

.myImage:hover {
    .hoverDiv {
        display: inline-block;
    }
}

.emptyBloack {
    background-color: #f5f7f8 !important;
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 1250px) {
    .emptyBloack {
        display: none;
    }
}

.ItemBlock {
    min-height: 135px;
    max-width: 580px;
    .ItemSummary {
        width: 100%;
        .ItemSummary-head {
            position: relative;
            .ItemSummary-head-title-search {
                color: #a0a0a0;
                font-weight: bold;
                font-size: 23px;
                width: 70%;
                padding: 13px 4% 7px 14%;
            }
            .ItemSummary-head-date {
                margin-left: 30px;
            }
            .ItemSummary-head-close {
                position: absolute;
                background-size: 40px 40px;
                height: 50px;
                background-repeat: no-repeat;
                width: 50px;
                left: -16px;
                top: -28px;
                background-image: url("../../assets/imgs/close icon.png")
            }
        }
        .ItemSummary-desc {
            color: inherit;
            font-size: 16px;
            padding: 0px 4%;
            margin: 15px 0px;
        }
    }
}