<div class="MainContainer">
    <div class="HeaderBackground">
        <header></header>
        <div class="Triangle Triangle--pages">

            <div class="Triangle--spacer"></div>
        </div>
    </div>
    <div class="Content">
        <div class="GridContainer">
            <div class="HeaderBoxContianer HeaderBoxContianer--profilepage">
                <div class="HeaderBox HeaderBox--profilepage-usercontainer">
                    <div class="HeaderBox HeaderBox--profilepage-usercontainer-avatar">
                        <img src="../imgs/avatar.jpg" />
                    </div>
                    <div class="HeaderBox HeaderBox--profilepage-usercontainer-username">
                        بلال علي بلال بلال علي بلال
                    </div>
                </div>
                <div class="HeaderBox HeaderBox--profilepage-detailscontainer">
                    <div class="HeaderBox HeaderBox--profilepage-detailscontainer-column">
                        <div class="HeaderBox HeaderBox--profilepage-detailscontainer-column-title">
                            الإعلانات المضافة
                        </div>
                        <div class="HeaderBox HeaderBox--profilepage-detailscontainer-column-value">
                            10
                        </div>
                    </div>
                    <div class="HeaderBox HeaderBox--profilepage-detailscontainer-column">
                        <div class="HeaderBox HeaderBox--profilepage-detailscontainer-column-title">
                            المتابعون
                        </div>
                        <div class="HeaderBox HeaderBox--profilepage-detailscontainer-column-value">
                            {{follwers.length | number}}
                        </div>

                    </div>

                </div>
                <div class="HeaderBox HeaderBox--profilepage-btncontainer">
                    <div class="HeaderBox--profilepage-editbtn">

                    </div>
                </div>

            </div>
        </div>
        <div class="UserProfileContainer">
            <div class="UserProfile">
                <div class="UserProfile-navtabs">
                    <div class="UserProfile-navtabs-tab ">
                        قائمة التفضيلات
                    </div>
                    <div class="UserProfile-navtabs-tab UserProfile-navtabs-tab--active">
                        إعلاناتي
                    </div>
                </div>
                <div class="UserProfile-navcontent">
                    <div class="ItemsContainer">
                        <div class="ItemBlock">
                            <div class="ItemSummary">
                                <div class="ItemSummary-head">
                                    <div class="ItemSummary-head-title">
                                        متفرقات
                                    </div>
                                    <div class="ItemSummary-head-date ItemSummary-head-date--text">
                                        منذ ساعتين
                                    </div>
                                </div>
                                <div class="ItemSummary-desc">
                                    دبدوب فرو ظريف و لطيف
                                </div>
                                <div class="ItemSummary-price">
                                    <span class="ItemSummary-price-num">320,000</span>
                                    <span class="ItemSummary-price-text">ل.س</span>
                                </div>
                                <div class="ItemSummary-action">
                                    <a href="adddetails.html" class="ItemSummary-action-btn">
    									مشاهدة المزيد
    								</a>
                                    <div class="ItemSummary-action-views">
                                        <span> 25 </span>
                                        <div style="width:10px;"></div>
                                        <img src="../imgs/eye.svg" alt="" style="height: 24px;">
                                    </div>
                                </div>
                            </div>
                            <div class="ItemBlock-img" style="background-image: url('../imgs/bear.jpg');">
                            </div>
                        </div>
                        <div class="ItemBlock">
                            <div class="ItemSummary">
                                <div class="ItemSummary-head">
                                    <div class="ItemSummary-head-title">
                                        مركبات
                                    </div>
                                    <div class="ItemSummary-head-date">
                                        24/12/2017
                                    </div>
                                </div>
                                <div class="ItemSummary-desc">
                                    سيارة جبارة و نظيفة
                                </div>
                                <div class="ItemSummary-price">
                                    <span class="ItemSummary-price-num"> 1,700,000 </span>
                                    <span class="ItemSummary-price-text">ل.س</span>
                                </div>
                                <div class="ItemSummary-action">
                                    <a href="adddetails.html" class="ItemSummary-action-btn">
    									مشاهدة المزيد
    								</a>
                                    <div class="ItemSummary-action-views" style="display:none;">
                                        <span> 5 </span>
                                        <div style="width:10px;"></div>
                                        <img src="../imgs/eye.svg" alt="" style="height: 24px;">
                                    </div>
                                </div>
                            </div>
                            <div class="ItemBlock-img" style="background-image: url('../imgs/car-0.jpg');">
                            </div>
                        </div>
                        <div class="ItemBlock">
                            <div class="ItemSummary">
                                <div class="ItemSummary-head">
                                    <div class="ItemSummary-head-title">
                                        اكسسوارات
                                    </div>
                                    <div class="ItemSummary-head-date">
                                        11/1/2015
                                    </div>
                                </div>
                                <div class="ItemSummary-desc">
                                    ساعة شغل أكابر
                                </div>
                                <div class="ItemSummary-price">
                                    <span class="ItemSummary-price-num">520,000</span>
                                    <span class="ItemSummary-price-text">ل.س</span>
                                </div>
                                <div class="ItemSummary-action">
                                    <a href="adddetails.html" class="ItemSummary-action-btn">
    									مشاهدة المزيد
    								</a>
                                    <div class="ItemSummary-action-views">
                                        <span> 25 </span>
                                        <div style="width:10px;"></div>
                                        <img src="../imgs/eye.svg" alt="" style="height: 24px;">
                                    </div>
                                </div>
                            </div>
                            <div class="ItemBlock-img" style="background-image: url('../imgs/watch.jpg');">
                            </div>
                        </div>




                        <div class="ItemBlock">
                            <div class="ItemSummary">
                                <div class="ItemSummary-head">
                                    <div class="ItemSummary-head-title">
                                        متفرقات
                                    </div>
                                    <div class="ItemSummary-head-date ItemSummary-head-date--text">
                                        منذ ساعتين
                                    </div>
                                </div>
                                <div class="ItemSummary-desc">
                                    دبدوب فرو ظريف و لطيف
                                </div>
                                <div class="ItemSummary-price">
                                    <span class="ItemSummary-price-num">320,000</span>
                                    <span class="ItemSummary-price-text">ل.س</span>
                                </div>
                                <div class="ItemSummary-action">
                                    <a href="adddetails.html" class="ItemSummary-action-btn">
    									مشاهدة المزيد
    								</a>
                                    <div class="ItemSummary-action-views">
                                        <span> 25 </span>
                                        <div style="width:10px;"></div>
                                        <img src="../imgs/eye.svg" alt="" style="height: 24px;">
                                    </div>
                                </div>
                            </div>
                            <div class="ItemBlock-img" style="background-image: url('../imgs/bear-1.jpg');">
                            </div>
                        </div>

                        <div class="ItemsContainer-loader">
                            <img src="../imgs/spinner.svg" alt="Kiwi standing on oval">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--Below main container end-->
</div>

<div class="Footer">

    <div class="Footer-about">
        <div class="Footer-about-title">
            عن دلال
        </div>
        <div class="Footer-about-body">
            شرح بسيط عن دلال ...<br> الموقع الأفضل للبيع و الشراء عبر الانترنت
        </div>
        <div class="Footer-about-bar">
            <div class="Footer-about-bar-item">
                شروط الاستخدام
            </div>
            <div class="Footer-about-bar-item">
                سياسية الخصوصية
            </div>
            <div class="Footer-about-bar-item">
                تواصل معنا
            </div>
        </div>
    </div>
    <div class="Footer-contact">
        <div class="Footer-contact-title">
            تواصل معنا على.....
        </div>
        <div class="Footer-contact-icons">
            <a href="#" class="Footer-contact-icon" style="background-image: url('../imgs/facebook.svg');">

    </a>
            <a href="#" class="Footer-contact-icon" style="background-image: url('../imgs/insta.svg');">

    </a>
        </div>

    </div>
    <div class="Footer-right">
        <div class="Footer-right-text">
            All Rights Reserved
        </div>
        <div class="Footer-right-logo">
            <img src="../imgs/logo.png" alt="">
        </div>
    </div>
</div>