<!--component html goes here -->

<div class="MainContainer" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"
 [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
	<div class="HeaderBackground">
		<header></header>
		<div class="Triangle">
			<div class="Jumbotron" data-paroller-factor="-0.2">
				<div class="Jumbotron-title">هل تبحث عن شيئ معيّن ؟</div>
				<div class="SearchBar">
					<div class="SearchBar-box" (click)="getAdvertisemets(2,{'search':search},false,true)"></div>
					<select name="city" class="SearchBar-location" [(ngModel)]="search.city">
						<option [ngValue]="undefined" selected>اختر المدينة</option>
						<option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
						</select>
					<select name="category" class="SearchBar-category" [(ngModel)]="search.category" (change)="changeCategory($event.target.value)">>
						<option [ngValue]="undefined" selected>اختر الفئة</option>
						<option *ngFor="let category of categories" value="{{category.id}}" >{{category.title}}</option> 
						</select>
					<input class="SearchBar-input" (keyup.enter)="getAdvertisemets(2,{'search':search},false,true)" id="" placeholder="أنا أبحث عن" type="text" [(ngModel)]="search.title">

				</div>
				<div class="Jumbotron-subtitle">
					<!--أكثر من
					<span class="u-num">300</span> إعلان بإنتظارك لتتفقدها-->
					الكثير من الاعلانات بانتظارك لتفقدها
				</div>
			</div>
			<div class="Triangle--spacer"></div>
		</div>
	</div>
	<div class="Content">
		<div class="GridContainer">
			<div class="CategoriesContainer">
				<div class="CategoryBox" *ngFor="let mainCategory of mainCategories">
					<div (click)="getAdvertisemets(0,{'categoryID':mainCategory.id})" class="CategoryBox-head cursorPointer" [ngStyle]="{'background-image': 'url(' + mainCategory.image + ')'}">
						<span class="CategoryBox-head-title">{{mainCategory.title}}</span>
					</div>
					<div class="CategoryBox-body">
						<ul>
							<li (click)="getAdvertisemets(1,{'categoryID':mainCategory.id,'subCategoryID':mainSubCategory.id})" *ngFor="let mainSubCategory of mainCategory.subCategories">
								{{mainSubCategory.title}}
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div id="Menu" class="MenuContainer MenuContainer--isFixed" style="display: none">

				<div class="ContentMenu">
					<div class="u-flex u-flexRowReverse u-flexWrap u-flexAlignCenter u-fill">
						<i class="ContentMenu-item ContentMenu-item--iconDots" (click)="openMenu()"  *ngIf="isLogin">
								<ul class="DropMenu DropMenu-Down">
									<li class="DropMenu-item">شروط الإستخدام</li>
									<li class="DropMenu-divider"></li>
									<li class="DropMenu-item">سياسة الخصوصية</li>
									<li class="DropMenu-divider"></li>
									<li class="DropMenu-item" (click)="logout()">تسجيل الخروج</li>
								</ul>
							</i>
						<a (click)="hrefAddAdv()" class="ContentMenu-item u-customBtn">
							<!-- <i class="ContentMenu-item-iconPlus"> </i> -->
							<img class="" src="assets/imgs/w-plus.svg" alt="">
							<span class="u-hideOnMedium u-after10p">إضافة إعلان</span>
						</a>
						<div href="#" class="u-after10p" *ngIf="isLogin">
							<figure class="Avatar Avatar--lg cursorPointer">
								<img src="assets/imgs/defult_img.jpg" alt="avatar">
							</figure>
						</div>

						<i class="ContentMenu-item ContentMenu-item--iconBell" (click)="toggleNot()" *ngIf="isLogin">
								<span class="Badge Badge--center"  [attr.data-badge]="unreadNotBeh"></span>
					            <ul class="NotificationMenu NotificationMenuDown" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance"[infiniteScrollThrottle]="throttle" [scrollWindow]="false" (scrolled)="onScrollUpNoti()" >
								<div *ngFor="let oneNot of notificationBeh">
									<li [ngStyle]="{'background-color':oneNot.isRead == false ? '#afafaf75' : 'auto' }" class="NotificationMenu-item">
										<div href="#" class="u-after10p u-inlineBlock">
							              <figure class="Avatar Avatar--lg">
											<img src="{{oneNot.advertisement.images[0]}}" alt="avatar">
							              </figure>
							            </div>
							            <div class="u-inlineBlock u-alignTop">
											<div>
												قام
												<span> {{oneNot.advertisement.owner.firstName}} </span>
											 	 بإضافة إعلان جديد
											 </div>
										<span class="NotificationMenu-item-date">{{oneNot.createdAt | date:'yyyy/MM/dd'}}</span>
										</div>
									</li>
									<li class="NotificationMenu-divider"></li>
									</div>
								</ul>
				            </i>
						<a class="ContentMenu-item cursorPointer" (click)="openSignInDialog()" *ngIf="!isLogin">الدخول</a>
						<a class="ContentMenu-item u-before10p cursorPointer" (click)="openSignUpDialog()" *ngIf="!isLogin">حساب جديد</a>
						<img class="ContentMenu-item ContentMenu-item--logo u-hidden u-showOn700" src="assets/imgs/logo.png" alt="">
						<div class="FilterSearchBar">
							<div class="FilterSearchBar-box" (click)="getAdvertisemets(2,{'search':search})"></div>
							<select name="city" [(ngModel)]="search.city" class="FilterSearchBar-location">
									 <option [ngValue]="undefined" selected>اختر المدينة</option>


								 	<option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
								</select>
							<select name="category" [(ngModel)]="search.category" (change)="changeCategory($event.target.value)" class="FilterSearchBar-category">
									<option [ngValue]="undefined" selected>اختر الفئة</option>
								 	<option *ngFor="let category of categories" value="{{category.id}}" >{{category.title}}</option>
								</select>
							<input class="FilterSearchBar-input" (keyup.enter)="getAdvertisemets(2,{'search':search})" [(ngModel)]="search.title" id="" placeholder="أنا أبحث عن" type="text">
						</div>
					</div>
					<div class="u-flexAlignSelfStart u-hideOn700 u-afterAuto">
						<img class="ContentMenu-item ContentMenu-item--logo" src="assets/imgs/logo.png" alt="">
					</div>
				</div>
				<!--<div class="CategoryBar">
					<div class="CategoryBar-item" (click)="getAdvertisemets(0,{'categoryID':mainCategory.id})" *ngFor="let mainCategory of mainCategories">
						{{mainCategory.title}}
					</div>
				</div>-->
			</div>
			<div class="FullContainer">
				<div class="FiltersPanelContianer" [ngClass]="{'hidden':lastType == -1}">
					<div class="FiltersPanel">
						<div class="FiltersPanel-header">
							<div class="FiltersPanel-header-title">
								البحث المتقدم
							</div>
							<div class="FiltersPanel-header-collapse">
								--
							</div>
							<div class="FiltersPanel-header-close" (click)="reseat()">

							</div>

						</div>
						<div class="FiltersPanel-body">
							<div class="FiltersPanel-body-inputcontainer">
								<label for="name"> </label>
								<input [(ngModel)]="search.title" (keyup.enter)="getAdvertisemets(3,{'search':search})" class="FiltersPanel-body-inputcontainer-text" placeholder="أنا أبحث عن" type="text" value=""
								 name="name">
							</div>
							<div class="FiltersPanel-body-inputcontainer">
								<label for="name"> </label>
								<select class="FiltersPanel-body-select FiltersPanel-body-down" [(ngModel)]="search.city">
									<option [ngValue]="undefined" selected>اختر المدينة</option>
								 	<option *ngFor="let city of cities" value="{{city.id}}" >{{city.name}}</option>
								</select>
							</div>
							<div class="FiltersPanel-body-inputcontainer">
								<label for="name"> </label>
								<select class="FiltersPanel-body-select FiltersPanel-body-down" [(ngModel)]="search.category" (change)="changeCategory($event.target.value)">>
									<option [ngValue]="undefined" selected>اختر الفئة</option>								 
								 	<option *ngFor="let category of categories" value="{{category.id}}" >{{category.title}}</option>
								</select>
							</div>

							<div class="FiltersPanel-body-inputcontainer">
								<label for="name"> </label>
								<select class="FiltersPanel-body-select FiltersPanel-body-down" (change)="changeSubCategory($event.target.value)" [(ngModel)]="search.subCategory">
									<option [ngValue]="undefined" selected> اختر الفئة الفرعية</option>								 
								 	<option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}" >{{subCategory.title}}</option>
								</select>
							</div>

							<div class="FiltersPanel-body-inputcontainer" *ngFor="let oneKey of keyFilter">
								<label for="name">{{oneKey.key}} </label>
								<input *ngIf="oneKey.type == 'text' " (keyup.enter)="getAdvertisemets(3,{'search':search})" class="FiltersPanel-body-inputcontainer-text" type="text" value="" name="name">
								<input *ngIf="oneKey.type == 'number' " (keyup.enter)="getAdvertisemets(3,{'search':search})" class="FiltersPanel-body-inputcontainer-text" type="number" value="" name="name">
								<select *ngIf="oneKey.type == 'choose' " class="FiltersPanel-body-select FiltersPanel-body-down">
								 	<option *ngFor="let value of oneKey.values" value="{{value}}" >{{value}}</option>
								</select>
							</div>
							<div class="FiltersPanel-body-inputcontainer">
								<label for="name"> أقل سعر </label>
								<input class="FiltersPanel-body-inputcontainer-text" (keyup.enter)="getAdvertisemets(3,{'search':search})" [(ngModel)]="search.min" min="0" max="10000000000" type="number" value=""
								 name="name">
							</div>

							<div class="FiltersPanel-body-inputcontainer">
								<label for="name"> أكبر سعر </label>
								<input class="FiltersPanel-body-inputcontainer-text" (keyup.enter)="getAdvertisemets(3,{'search':search})" [(ngModel)]="search.max" min="0" max="10000000000" type="number" value=""
								 name="name">
							</div>

						</div>
						<div class="FiltersPanel-footer" (click)="getAdvertisemets(3,{'search':search})">

						</div>
					</div>
				</div>
				<div class="ItemsContainer" [ngClass]="{'ItemsContainer--filtespanelexpanded':lastType != -1}">
					<div class="ItemBlock cursorPointer" *ngFor="let advertisemet of advertisemets" routerLink="{{'/detail/'+advertisemet.id}}">
						<div class="ItemSummary">
							<div class="ItemSummary-head">
								<div class="ItemSummary-head-title">
									{{advertisemet.category.title}}
								</div>
								<div class="ItemSummary-head-date ItemSummary-head-date--text">
									{{calculateDate(advertisemet.createdAt)}}
								</div>
							</div>
							<div class="ItemSummary-desc">
								{{advertisemet.title}}
							</div>
							<div class="ItemSummary-price">
								<span class="ItemSummary-price-num">{{advertisemet.price | number}}</span>
								<span class="ItemSummary-price-text">ل.س</span>
							</div>
							<div class="ItemSummary-action">
								<a routerLink="{{'/detail/'+advertisemet.id}}" class="ItemSummary-action-btn">
  									مشاهدة المزيد
  								</a>
								<div class="ItemSummary-action-views">
									<span> {{advertisemet.viewsCount}} </span>
									<div style="width:10px;"></div>
									<img src="assets/imgs/eye.svg" alt="" style="height: 24px;">
								</div>
							</div>
						</div>
						<div class="ItemBlock-img" [ngStyle]="{'background-image': 'url(' + advertisemet.images[0] + ')'}">
						</div>
					</div>
					<div class="ItemBlock emptyBloack" *ngIf="!cheackOdd(advertisemets.length)">

					</div>

					<div class="ItemsContainer-loader" [ngClass]="{'hidden':loader==0}">
						<img src="assets/imgs/spinner.svg" alt="Kiwi standing on oval">
					</div>
					<div class="ItemsContainer-loader" [ngClass]="{'hidden':noData==0}">
						<img src="assets/imgs/empty placeholder.png" alt="Kiwi standing on oval">
					</div>
				</div>

			</div>

		</div>

		<div id="SignUpModal" class="ModalContainer">
			<div class="SignUpModuleContainer">
				<div class="SignUpModule">
					<div class="SignUpModule-header">
						<div class="SignUpModule-header-title">
							حساب جديد
						</div>
						<div class="SignUpModule-header-close">
						</div>
					</div>
					<div class="SignUpModule-body">
						<div class="SignUpModule-body-inputcontainer">
							<label for="name">اسم الحقل</label>
							<input class="SignUpModule-body-inputcontainer-text" type="text" value="" name="name">
						</div>
						<div class="SignUpModule-body-inputcontainer">
							<label for="name">اسم الحقل</label>
							<input class="SignUpModule-body-inputcontainer-text" type="text" value="" name="name">
						</div>
						<div class="SignUpModule-body-inputcontainer">
							<label for="name">اسم الحقل</label>
							<input class="SignUpModule-body-inputcontainer-text" type="text" value="" name="name">
						</div>
						<div class="SignUpModule-body-inputcontainer">
							<label for="name">اسم الحقل</label>
							<input class="SignUpModule-body-inputcontainer-text" type="text" value="" name="name">
						</div>
						<div class="SignUpModule-body-inputcontainer SignUpModule-body-inputcontainer-checkboxcontainer">
							<input type="checkbox" class="SignUpModule-body-inputcontainer-checkboxlabel" id="checkbox_id" value="value">
							<label for="checkbox_id">
                  أوافق على
                  <div class="u-textPrimaryColor">شروط الاستخدام</div>
  
                <div class="u-textPrimaryColor">اتفاقية الخصوصية</div>
                </label>
						</div>
						<div class="SignUpModule-body-inputcontainer SignUpModule-body-btn">
							إنشاء الحساب
						</div>
					</div>
					<div class="SignUpModule-footer">
						لديك حساب مسبقاً
						<div class="u-textPrimaryColor">
							قم بتسجيل الدخول .
						</div>
					</div>

				</div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div id="SignInModal" class="ModalContainer">
			<div class="SignInModuleContainer">
				<div class="SignInModule">
					<div class="SignInModule-header">
						<div class="SignInModule-header-title">
							تسجيل الدخول
						</div>
						<div class="SignInModule-header-close">
						</div>
					</div>
					<div class="SignInModule-body">
						<div class="SignInModule-body-inputcontainer">
							<label for="name">اسم المستخدم</label>
							<input class="SignInModule-body-inputcontainer-text" type="text" value="" name="name">
						</div>
						<div class="SignInModule-body-inputcontainer">
							<label for="name">كلمة السر</label>
							<input class="SignInModule-body-inputcontainer-text" type="text" value="" name="name">
						</div>
						<div class="SignInModule-body-inputcontainer SignInModule-body-inputcontainer-checkboxcontainer">
							<input type="checkbox" class="SignInModule-body-inputcontainer-checkboxlabel" id="checkbox_id2" value="value">
							<label for="checkbox_id2">
              تذكر كلمة المرور
              </label>
						</div>
						<div class="SignInModule-body-inputcontainer SignInModule-body-btn">
							تسجيل الدخول
						</div>
						<div class="SignInModule-body-inputcontainer u-textCenter">
							<div class="u-textPrimaryColor"> هل نسيت كلمة السر ؟</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div style="display:none;text-align: center;">
	<div style="font-family: 'OpenSans-Regular' ">
		OpenSans Regular <br/> اوبن سانس عادي 1234 ل.س
	</div><br/><br/>
	<div style="font-family: 'OpenSans-ExtraBold' ">
		OpenSans-ExtraBold <br/> اوبن سانس 1234 ل.س
	</div><br/><br/>
	<div style="font-family: 'Swessra-light' ">
		Swessra-light<br/> سويسرا خفيف 1234 ل.س
	</div><br/><br/>
	<div style="font-family: 'Swessra-medium' ">
		Swessra-medium<br/> سويسرا وسط 1234 ل.س
	</div><br/><br/>
</div>

<div class="CategoriesContainer">
	<div class="CategoryBoxSub cursorPointer" *ngFor="let mainCategory of mainCategories">
		<div class="CategoryBoxSub-head" [ngStyle]="{'background-image': 'url(' + mainCategory.image + ')'}" (click)="getAdvertisemets(0,{'categoryID':mainCategory.id},false,true)">
			<span class="CategoryBoxSub-head-title">{{mainCategory.title}}</span>
		</div>
	</div>
	<!--<div class="CategoryBoxSub">
		<div class="CategoryBoxSub-head" style="background-image: url('assets/imgs/bear.jpg');">
			<span class="CategoryBoxSub-head-title">مركبات</span>
		</div>
	</div>
	<div class="CategoryBoxSub">
		<div class="CategoryBoxSub-head" style="background-image: url('assets/imgs/realS.jpg');">
			<span class="CategoryBoxSub-head-title">مركبات</span>
		</div>
	</div>
	<div class="CategoryBoxSub">
		<div class="CategoryBoxSub-head" style="background-image: url('assets/imgs/watch.jpg');">
			<span class="CategoryBoxSub-head-title">مركبات</span>
		</div>
	</div>-->
</div>



<div style="display:none;text-align: center;">
	<div style="font-family: 'OpenSans-Regular' ">
		OpenSans Regular <br/> اوبن سانس عادي 1234 ل.س
	</div><br/><br/>
	<div style="font-family: 'OpenSans-ExtraBold' ">
		OpenSans-ExtraBold <br/> اوبن سانس 1234 ل.س
	</div><br/><br/>
	<div style="font-family: 'Swessra-light' ">
		Swessra-light<br/> سويسرا خفيف 1234 ل.س
	</div><br/><br/>
	<div style="font-family: 'Swessra-medium' ">
		Swessra-medium<br/> سويسرا وسط 1234 ل.س
	</div><br/><br/>
</div>