// component css goes here
.hidden {
    display: none;
}

.search-results {
    height: 100%; // overflow: scroll;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
}

.title small {
    color: #eaeaea;
}

.emptyBloack {
    background-color: #f5f7f8 !important;
    box-shadow: none;
    border: none;
}

@media screen and (max-width: 1250px) {
    .emptyBloack {
        display: none;
    }
}